<style>
table {
    font-family: arial
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1 px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

</style>
<table>
    <tr>
        <td>Id</td>
        <td>Model name</td>
        <td>Accuracy</td>
        <td>Factor</td>
        <td>Noise</td>
        <td>Published</td>
        <td>Categorise</td>
    </tr>
    {% for obj in object_list %}
    <tr>
        <td>{{ obj.id }}</td>
        <td>{{ obj.upload }}</td>
        <td>{{ obj.accuracy }}</td>
        <td>{{ obj.factor }}</td>
        <td>{{ obj.noise }}</td>
        <td>{{ obj.published }}</td>
        <td><a role="button" class="btn" href="{% url 'machinelearning:categorise' obj.id %}">Use</a></td>
    </tr>
    {% endfor %}
</table>
<a role="button" class="btn btn-block btn-primary" href="{% url 'machinelearning:train' %}">Train new model</a>
